*{
  box-sizing: border-box; 
}

head {
    position:absolute;
}
body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }
#back {
    background-color: black;
    color: white;
    margin-left: 79%;
    margin-bottom: 100px;
   
}
#mode-toggle {
  margin-left: 85%;
}

header {
    border-bottom: 5px solid black;
    
}